body {
    background-color: #000;
    margin: auto;
}
header {
    background:repeating-linear-gradient(
        45deg,
        #fff
        #fff 10px,
        #000 10px,
        #000 20px
    );
    color: #000;
    text-align: center;
    padding: 40px 0;
    background-color: #fff;
}
main {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: 'Segoe, sans-serif';
}
.hr-button {
    cursor: pointer;
    transition: background 0.2s,color 0.2s,box-shadow 0.2s;
    display: flex;
    text-align: center;
    color:#000;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 15px;
    background-color: #fff;
    font-family: 'Rye',cursive;
}
.hr-button:hover {
    background-color: #222;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rolinho { 
    width: 100px; 
    
    }
.topo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}
.Rocha {
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    top: 130px;
    margin: -140px 0 0 45px;
    border-radius: 50%;
    margin-left: 45px;
    gap: 30px;
    position: relative;
    
}
.menu {
    display: flex;
    gap: 40px;
    justify-content: center;
    
}
.menu-link {
    
    color:#222;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 22px;
    transition: color 0.2s;
}
    

 

